In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("pokemon.csv",sep=',',header=0)
df

# Null handling

### check total number of null in dataset

In [ ]:
df.isna().sum()

### Delete all the records if it having null in all column

In [ ]:
res=df.dropna(how='all')

In [ ]:
res.isna().sum()

### Delete all the records if it having null in any column

In [ ]:
res=df.dropna(how='any')

In [ ]:
res.isna().sum()

### Delete null from particular column and yes it will delete that row :-)

In [ ]:
res=df.dropna(subset=['Type 2'])

In [ ]:
res.isna().sum()